@import '../scss/utils/easing';

// general

* {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
body {
  padding: 1px;
  margin: 0;
  background: radial-gradient(#1a1d22, #121318);
}
.defs {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

// FL studio knobs - demo styles

$envelope-knob-size: 80px;
$tension-knob-size: 60px;
.fl-envelope {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 600px;
  padding: 20px;
  overflow: hidden;
  background: #363c40;
  border: 2px solid #272d31;
  box-shadow: 0 10px 70px rgba(#000000, 0.6);
  transform: translate(-50%,-50%);

  * {
    user-select: none;
  }
}
.fl-envelope__visualizer {
  height: 200px;
  background: #21272b;
  border: 2px solid #191f23;
  .envelope-visualizer {
    width: 100%;
    height: 100%;
    overflow: visible;
  }
}
.fl-envelope__controls, .fl-envelope__tension {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fl-envelope__controls {
  padding: 30px 0 0;
}
.fl-envelope__control {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fl-envelope__label {
  flex: 0 0 auto;
  display: inline-block;
  padding: 10px 0;
  width: $envelope-knob-size;
  color: #c1c5c5;
  font-size: 10px;
  font-family: 'Helvetica', sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

// FL Standard Knobs - sizing for wrapper class demo

.fl-demo-knob {
  flex: 0 0 auto;
  &.envelope-knob {
    width: $envelope-knob-size;
    height: $envelope-knob-size;
  }
  &.tension-knob {
    padding: ($envelope-knob-size - $tension-knob-size)/2;
    width: $envelope-knob-size;
    height: $envelope-knob-size;
  }
}
