// Control Knob component styles

.knob-input__container {
  position: relative;
}

.knob-input__visual {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.knob-input__base {
  cursor: grab;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.001; // FIXME: should be 0 but Chrome doesn't seem to fire MouseWheel events for invisible inputs
  // TODO: file Chromium bug for the problem described above
}

body.knob-input-drag-active {
  &, * {
    cursor: grabbing !important;
  }
}
